#movies img, #movie img{
    width: 100%;
}
@media(min-width : 960px){
#movies .col-md-3 .well{
    height: 350px;

}

#movies .col-md-3 img{
    height: 240px;

}
}

.well{
    background-color:rgb(39, 39, 39);
    padding: 5px;
    margin-top:7px;
}